body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: 0.25s;
    display: inline-block;
    margin: 0em 0.5em;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0em 0.5em 0.5em -0.4em #f1ff5c;
    transform: translatey(-0.25em);
    cursor: pointer;
}

button:hover:nth-of-type(2) {
    border-color: aquamarine;
    box-shadow: 0em 0.5em 0.5em -0.4em aquamarine;
    transform: translatey(-0.25em);
    cursor: pointer;
}

button:hover:nth-of-type(3) {
    border-color: #decdf5;
    box-shadow: 0em 0.5em 0.5em -0.4em #decdf5;
    transform: translatey(-0.25em);
    cursor: pointer;
}

button:hover:nth-of-type(4) {
    border-color: #ed6a5e;
    box-shadow: 0em 0.5em 0.5em -0.4em #ed6a5e;
    transform: translatey(-0.25em);
    cursor: pointer;
}